.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fff983;
  border: 1px solid #fff983;
  color: black;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #ffe600;
  border-color: #ffe600;
}
